<a href="https://colab.research.google.com/github/AshbeeKim/dadaiksunTeamProject/blob/main/ipynb/AshbeeKim/%EC%84%9C%EC%9A%B8_%EB%82%A0%EC%94%A8_%EA%B4%80%EA%B4%91_%EB%B6%84%EC%84%9D_AshbeeKim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Flow

## 팀 디자인
  * 구성 :
    * 팀명 : 다다익선(多多익선)
    * 주제 : 기상 데이터에 기반하여 조회 시점 기준 관광지 추천 시스템 구축
    * 팀장 : yunyoseob(윤요섭)
    * 팀원 :
      * seonhong416(김선홍)
      * qkrwjdduf159(박정열)
      * AshbeeKim(김수빈)
  * 분업 : 
    * 논문 : yunyoseob(윤요섭), seonhong416(김선홍)
      * 사전 논문 조사
      * 특정 지역(해운대, 서울대공원)의 기후와 관광 데이터로 논문 기반 가설 검증
    * 수집 : qkrwjdduf159(박정열), AshbeeKim(김수빈)
      * 기후 및 관광 데이터 수집
      * 수집한 데이터 정확도 검증(결측치, 이상치 여부 확인)
    * 분석 : 전원
      * yunyoseob(윤요섭) : 대전/세종/경남/제주/경북>서울
      * seonhong416(김선홍) : 서울/부산/대구/인천>서울
      * qkrwjdduf159(박정열) : 충북/충남/전북/전남
      * AshbeeKim(김수빈) : 울산/경기/광주/강원
    * 디자인 : 팀 로고(초기안 ; 지인 의뢰, 수정중 ; AshbeeKim(김수빈))

## ~~데이터 생성~~
  * 담당 : 없음 (<b>현 프로젝트의 규모 상 진행 불가</b>)
  * 사유1 : 검증할 데이터 수집은 기상청과 관광공사에서 제공
  * 사유2 : 검증할 기간 및 지역 범위가 좁다면 관광객 수를 수집 후 생성할 수도 있지만, 범위가 넒음

## 데이터 수집
  * 주요 데이터 : 기상 & 관광 데이터
  ### 방법
    * internal data : ETL
    * external data : Crawling(Scraping)+ETL
  ### Crawling(Scraping)
    * Web Scraping
    * OpenApi
  ### ETL
    * 검증1 : 기상 데이터(지상 종관 ASOS) 정확도 99% 수렴<small>__(기상청 주장)__</small>
    * 검증2 : <b><공공기관(기상청)</b>에서 관측 및 수집한 자료의 정확도는 그들의 주장 대비 높은 편이 아니었음<small>[完)OpenApi와 해당 사이트의 csv파일 다운 뒤 교차 확인]</small>

## 데이터 분류
### 기상데이터
  * 수집기관 : <b>KMA(한국기상청)</b>
  * 수집방법 : <b>OpenApi</b><small>[지상(종관, ASOS)일자료 조회서비스]</small> & <b>KMA csv 다운</b>
  * 수집기간 : 1/1/2011 ~ 31/12/2020
  * 관리부서 : 전국>수도권기상청
  * 지점 : 전국>서울, 관악산
  * 기간구분 : 1/1/2011 ~ 31/12/2019<small>(사유 : 코로나 이후 급감한 관광객과 매칭 불가)</small>
### 관광데이터
  * 수집기관 : <b>한국관광공사</b>
  * 수집방법 : <b><li>Dynamic Web Crawling</b><small>[주요관광지점입장객 월 통계자료]</small>
  * 수집기간 : 1/1/2011 ~ 31/12/2019

## 데이터 분석
### 전국
* 분석 중 중간 회의(2nd.Jul.2021) 결과, 우선 서울에 집중해서 날씨에 따른 관광객 수를 예측 모델 검증하는 방법이 나을 것이라고 재정립

### 서울
* 팀원 별 관광지 분석을 위해 17'~19' 관광지 중 결측일이 없는 데이터 전처리 후 공유(02.07.2021 by AshbeeKim)
* 분석에 용이하게 기상 및 관광 데이터 전처리 후 공유(03.07.2021 by seonhong416)

# Ashbee Kim's DA Flow

## ETL
  * Extract
    * 가설(세부) 검증에 필요한 데이터(칼럼) 정의
    * 가설 검증에 필요한 데이터 추출
  * Transform
    * 기상 데이터는 년>월>일별로 나오지만, 관광데이터는 년>월별로 나옴
    * 지역별  맞춤화 작업 필수
  * Load
    * 현 시점에선 구글 개인 혹은 공유 폴더에 적재 중

## 데이터 분석
### EDA
  * Match & Merge
    * 데이터 월/년별 Merge완료
    * 2019년 12월 기준 3년/6년/9년/36개월/72개월/108개월 별 관광입장객 결측치 없는 csv로 처리 완료
  * Tourism Climate Aspect
    * 열적(Thermal)측면
    * 물리적(Physical)측면
    * 미적(Aesthetic)측면
    * 지리적(Geographic)측면
    * TCI
    * KTCI
### VSL
### Model

# Access to Google Drive for co-working

In [ ]:
import os

from google.colab import drive  
# 구글 드라이브 접근
ROOT = "/content/drive"
drive.mount(ROOT)

from os.path import join
# 개인 폴더
PROJECT = "MyDrive/Task/Proj_WeatherGo"
PROJ_PATH = join(ROOT, PROJECT)

CHK_PATH = join(PROJ_PATH, "MINE")
PV_SV = join(PROJ_PATH, "re-ASOS")

# 공유 폴더
CO_WORK = "MyDrive/Proj_WT"
CW_PATH = join(ROOT, CO_WORK)

# CODES = "Codes"     # 코드/마크다운 공유 및 에러 해결 목적
# CODE_PATH = join(CW_PATH, CODES)
# # !mkdir "{CODE_PATH}"

PAPERS = "Papers"   # 논문 공유 폴더
PAPER_PATH = join(CW_PATH, PAPERS)
# !mkdir "{PAPER_PATH}"

DATAS = "DataSets"  # 데이터 공유 폴더
DATA_PATH = join(CW_PATH, DATAS)
# !mkdir "{DATA_PATH}"

CW_SV = join(DATA_PATH, "기상청_일별_지상_종관_ASOS")

DA = "Analysis"     # 분석 공유 폴더
DA_PATH = join(CW_PATH, DA)
# !mkdir "{DA_PATH}"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Baseline

## 사용 중인 api 참고문서 폴더

In [ ]:
# # 참고문서 폴더
# REF = join(DATA_PATH, "api활용_참고_문서")
# # files = join(DATA_PATH, "한국문화관광연구원 관광산업통계서비스 활용가이드_v1.2.docx")
# # !mv "{files}" "{REF}"

# %cd "{REF}"
# !ls

# # 참고문서 업로드
# # from google.colab import files
# # files.upload()

# # 참고문서 다운로드
# # files.download("f{}_api.ipynb")

## 현재 진행 상황 확인용

In [ ]:
print("현재 공유 폴더 내에 존재하는 디렉토리 :\n")
%cd "{CW_PATH}"
!ls

# print("현재 코드 공유 폴더 내에 존재하는 파일 :\n")
# %cd "{CODE_PATH}"
# !ls

print("현재 논문 폴더 내에 존재하는 논문 공유 현황 :\n")
%cd "{PAPER_PATH}"
!ls

print("현재 데이터 폴더 내에 존재하는 데이터 수집 현황 :\n")
%cd "{DATA_PATH}"
!ls

print("\n현재 개인 프로젝트 폴더 내에 존재하는 파일 :\n")
%cd "{PROJ_PATH}" # 내가 할 수 있는 선까지의 분석을 하기 위해 만든 폴더(공유파일에 없음)
!ls

print("\n현재 분석 폴더 내에 존재하는 파일 현황 :\n")
%cd "{DA_PATH}"
!ls

현재 공유 폴더 내에 존재하는 디렉토리 :

/content/drive/.shortcut-targets-by-id/1TVtWvZ4DNn7V20Aj6JzSd5_iRdbjEXbG/Proj_WT
 Analysis  '공유폴더 내 데이터 활용해서 모델 분석할 때 편한 방법.ipynb'
 DataSets   Papers
현재 논문 폴더 내에 존재하는 논문 공유 현황 :

/content/drive/.shortcut-targets-by-id/1TVtWvZ4DNn7V20Aj6JzSd5_iRdbjEXbG/Proj_WT/Papers
'해외방문관광객의 목적지 선택에 대한 기후의 영향 (1).pdf'
'빅데이터 기반 관광지 추천 시스템 구현.hwp'
 논문_리뷰.ipynb
'한국형 관광기후지수(KTCI)의 개발에 관한 연구.gdoc'
'한국형 관광기후지수(KTCI)의 개발에 관한 연구.pdf'
 빅데이터기반관광지추천시스템구현한국관광공사LOD를중심으로.pdf
 관광업체관광지추천유형정리.pptx
'날씨 및 요일 특성이 관광정보시스템 이용에 미치는 영향에 관한 연구.rtf'
'기후인자가 관광수요에 미치는 영향 패널데이터 모형의 적용.rtf'
'Weather Go ( 웨더고) 초기 회의록(20210621).hwp'
'Weather Go (웨더고) 두번째 회의록.pptx'
현재 데이터 폴더 내에 존재하는 데이터 수집 현황 :

/content/drive/.shortcut-targets-by-id/1TVtWvZ4DNn7V20Aj6JzSd5_iRdbjEXbG/Proj_WT/DataSets
 기상청_관광코스별_관광지_상세날씨
 한국관광공사_관광빅데이터
 서울_관광지점입장객_1719_결측치무.csv
 경기도_관광지점입장객_1719_결측치무.csv
'서울시 코로나19 확진자 현황.csv'
'서울 주요관광지점 입장객 2011 2019.xls'
 2017년부터2021년까지서울기후데이터.csv
 api활용_참고_문서
 기상청_일별_지상_종관_ASOS
 기상청_일별_지상종관_ASOS_api.ipynb
 check.ipynb
 Codes
 DataLabService_api.ipynb
 JungguSmartDB_api.ipynb
 openapi_baseline.ipynb
 Proj_GG
 TourismResourceStatsService_api.ipynb
 TourStnInfoService_api.ipynb

현재 개인 프로젝트 폴더 내에 존재하는 파일 :

[Errno 2] No such file or directory: '/content/drive/MyDrive/Task/Proj_WeatherGo # 내가 할 수 있는 선까지의 분석을 하기 위해 만든 폴더(공유파일에 없음)'
/content/drive/.shortcut-targets-by-id/1TVtWvZ4DNn7V20Aj6JzSd5_iRdbjEXbG/Proj_WT/DataSets
 기상청_관광코스별_관광지_상세날씨
 한국관광공사_관광빅데이터
 서울_관광지점입장객_1719_결측치무.csv
 경기도_관광지점입장객_1719_결측치무.csv
'서울시 코로나19 확진자 현황.csv'
'서울 주요관광지점 입장객 2011 2019.xls'
 2017년부터2021년까지서울기후데이터.csv
 api활용_참고_문서
 기상청_일별_지상_종관_ASOS
 기상청_일별_지상종관_ASOS_api.ipynb
 check.ipynb
 Codes
 DataLabService_api.ipynb
 JungguSmartDB_api.ipynb
 openapi_baseline.ipynb
 Proj_GG
 TourismResourceStatsService_api.ipynb
 TourStnInfoService_api.ipynb

현재 분석 폴더 내에 존재하는 파일 현황 :

/content/drive/.shortcut-targets-by-id/1TVtWvZ4DNn7V20Aj6JzSd5_iRdbjEXbG/Proj_WT/Analysis
'서울 자치구별 0426 ~ 0624.ipynb'  '월별 분석.ipynb'   서울월별관광지.ipynb
 관광기후지수20210624.ipynb	    서울대공원.ipynb

In [ ]:
%cd "{PROJ_PATH}"
!ls

/content/drive/.shortcut-targets-by-id/1srYR8TqwFsUSR4BYzQtIBmWUKrEBjd44/Task/Proj_WeatherGo
 특허청_아이디어_앱추가검색결과.csv
 특허청_아이디어_날씨관광검색결과.csv
'특허청_아이디어 DB_2016.txt'
 특허청_아이디어_앱추가검색결과.gsheet
 image
 광주_날씨_관광_분석.ipynb
 경기_날씨_관광_분석.ipynb
 서울_날씨_관광_분석.ipynb
 강원_날씨_관광_분석.ipynb
 울산_날씨_관광_분석.ipynb
'공유폴더 내 데이터 활용해서 모델 분석할 때 편한 방법.ipynb'
 KMA_api_list_Dynamic_WebC.ipynb
 KMA_api_list_Static_WebC.ipynb
 KMA_ASOS_Public_api.ipynb
 MINE
 Patents_quoted_papers_api.ipynb
'Proj_WeatherGo(Part_Ashebee).ipynb'
 re-ASOS
 한국관광공사__webapp.ipynb

## 기본 라이브러리

In [ ]:
import sys
import re
import math

import random
import time, datetime
from datetime import date, datetime, timedelta

import csv
import numpy as np
import pandas as pd

from IPython import display
from IPython.display import display as dp

# import json #json을 다루기 위한 모듈
# from collections import OrderedDict
# from pprint import pprint #json을 좀 더 보기 편하게 출력

# import urllib
# import urllib.request
# from urllib.request import urlopen
# from urllib.parse import urlencode, unquote, quote_plus
# import requests
# import xmltodict
#     ## xml형식으로만 지원하는 api를 csv파일로 저장하려면, parsing한 xml를 dict로 변환해야 함
# #import xml.dom.minidom 
#     ## 다른 언어와  유사한 API를 갖는 문서 객체 모델 인터페이스의 최소 구현
#     ## 악의적으로 구성된 데이터로부터 안전하지 않음
# #from xml.dom.minidom import parse, parseString
# from xml.etree.ElementTree import parse
#     ## DOM에 아직 능숙하지 않은 사용자는 XML처리에 "xml.etree.ElementTree" 모듈을 사용하는 것을 고려

# ETL

## 행정정보(dict)

In [ ]:
#서울 자치구
Seoul_ID = {"서울 강남구":"1168000000", "서울 강동구":"1174000000", "서울 강북구":"1130500000", "서울 강서구":"1150000000",
            "서울 관악구":"1162000000", "서울 광진구":"1121500000", "서울 구로구":"1153000000", "서울 금천구":"1154500000",
            "서울 노원구":"1135000000", "서울 도봉구":"1132000000", "서울 동대문구":"1123000000", "서울 동작구":"1159000000",
            "서울 마포구":"1144000000", "서울 서대문구":"1141000000", "서울 서초구":"1165000000", "서울 성동구":"1120000000",
            "서울 성북구":"1129000000", "서울 송파구":"1171000000", "서울 양천구":"1147000000", "서울 영등포구":"1156000000", 
            "서울 용산구":"1117000000", "서울 은평구":"1138000000", "서울 종로구":"1111000000", "서울 중구":"1114000000",
            "서울 중랑구":"1126000000"}

In [ ]:
data = pd.read_excel(f'{CW_SV}/branch.xlsx')
data['지점'] = data['지점'].astype('str')
office = data['관리관서'].unique()
print(office)
branch = [] # branch : 기상청 지점
for j in office: #office : 기상청 관리관서
  KMA = {}
  for i in data.index:
    if data.loc[i,'관리관서'] == j:
      KMA[data.loc[i,'지점명']] = data.loc[i,'지점']
  branch.append(KMA)

['강원지방기상청' '춘천기상대' '수도권기상청' '대구지방기상청' '청주기상지청' '홍성기상대' '안동기상대' '대전지방기상청'
 '전주기상지청' '울산기상대' '창원기상대' '광주지방기상청' '부산지방기상청' '목포기상대' '제주지방기상청' '인천기상대']

## 데이터 전처리 함수

* 관광 데이터(주요관광지점 입장객)

In [ ]:
def data_load_sep_local(path, name):
  #데이터 불러오고 내국인만 추출한 뒤, 컬럼 바꿔주기
  #path엔 "주요관광지점입장객데이터 경로 및 파일명, 확장자명" 선언
  #name : 해당 데이터를 저장할 변수명(예. "GangWon")

  #데이터 불러오기  
  locals()[f"{name}"] = pd.read_excel(path)
  #내국인만 추출한 뒤 저장
  locals()[f"{name}_local"] = locals()[f"{name}"][locals()[f"{name}"].iloc[:,3]=="내국인"]
  
  #년월이 "Unnamed:n" 으로 저장되어서 그냥 한번에 바꿈
  #저장될 필요가 없는 변수는 locals로 불러오지 않음
  dataCol = [col for col in locals()[f"{name}_local"].columns]
  dataNCol = [ncol for ncol in locals()[f"{name}"].iloc[0,:]]
  dataFCol = {}
  for og, nw in zip(dataCol, dataNCol):
    if ":" in og:
      dataFCol[og]=nw
    else:
      dataFCol[og]=og
  locals()[f"{name}_local"].rename(columns=dataFCol, inplace=True)
  
  #내국인 추출로 난장난 index 초기화
  locals()[f"{name}_local"].reset_index(drop=True, inplace=True)
  
  return locals()[f"{name}"], locals()[f"{name}_local"]

def sep_sgg(local_df, initial):
  #시군구로 지역범위가 넓은 곳의 데이터 분류
  #local_df : 위의 함수로 불러온 내국인만 있는 데이터
  #initial : 시군구별 분류한 데이터를 저장할 이니셜(예. "GW_춘천시" 중 "GW")
  
  globals()[f"{initial}_SGG"] = [sgg for sgg in local_df.iloc[:,1].unique()]

  for sgg in globals()[f"{initial}_SGG"]:
    globals()[f"{initial}_{sgg}"] = local_df[local_df.iloc[:,1]==sgg]
    globals()[f"{initial}_{sgg}"].reset_index(drop=True, inplace=True)
    print(f"'{initial}_{sgg}'의 shape은 ", globals()[f"{initial}_{sgg}"].shape, "입니다.")
  #globals를 활용해 앞에 변수 지정 없이도 불러올 수 있게 설정함

In [ ]:
def Y_YM_Visitor(Ydf, YMdf, Y_duration):
  # Ydf : 연별 데이터, YMdf : 월별 데이터
  # Y_duration : 종료일 기준 확인 범위(단위 : 년)
  # 연별 데이터로는 해당되지 않는 관광지도 월별 데이터로 확인하면 결측치가 있는 경우가 있음

  check_Ydf = Ydf.iloc[-Y_duration:, :].copy()
  check_YMdf = YMdf.iloc[-(Y_duration*12):, :].copy()

  del_Ycol_idx = []   #연별 데이터 중 결측년이 존재하는 관광지
  del_YMcol_idx = []  #월별 데이터 중 결측월이 존재하는 관광지

  for check in range(check_Ydf.shape[1]):
    for TorF, TorF2 in zip(check_Ydf.iloc[:, check].isna(), check_Ydf.iloc[:, check].isin([0])):
      if TorF==True:
        del_Ycol_idx.append(check)
      if TorF2==True: #NaN이 아닌 int(0)으로 입력된 결측치도 있었음
        del_Ycol_idx.append(check)
      
    for TorF, TorF2 in zip(check_YMdf.iloc[:, check].isna(), check_YMdf.iloc[:, check].isin([0])):
      if TorF==True:
        del_YMcol_idx.append(check)
      if TorF2==True: #NaN이 아닌 int(0)으로 입력된 결측치도 있었음
        del_YMcol_idx.append(check)

  del_Ycol_idx = sorted(list(set(del_Ycol_idx)))    #3개년 true값 중복으로 들어갔을 check 넘버 제거
  del_YMcol_idx = sorted(list(set(del_YMcol_idx)))  #36개월 true값 중복으로 들어갔을 check 넘버 제거

  print(f"{Y_duration}개년 중 결측년 존재하는 관광지 수 : {len(del_Ycol_idx)}")
  print(f"{Y_duration*12}개월 중 결측월 존재하는 관광지 수 : {len(del_YMcol_idx)}")

  clean_Ycol_idx = []   #연별 데이터 중 활용 가능한 관광지
  clean_YMcol_idx = []  #월별 데이터 중 활용 가능한 관광지

  for all in range(check_Ydf.shape[1]):
    # 연별 데이터가 있는 경우와 연월별 데이터가 있는 경우가 이어지는 가정이 아니기 때문에, if~elif~가 아닌 if~ if~로 조건반복문 작성
    if all not in del_Ycol_idx:
      clean_Ycol_idx.append(all)

    if all not in del_YMcol_idx:
      clean_YMcol_idx.append(all)

  YR_Clean = check_Ydf.iloc[:, clean_Ycol_idx]
  YM_Clean = check_YMdf.iloc[:, clean_YMcol_idx]

  print(f"{Y_duration}개년 중 활용 가능한 관광지 수 : {YR_Clean.shape[1]}")
  print(f"{Y_duration*12}개월 중 활용 가능한 관광지 수 : {YM_Clean.shape[1]}")

  YR_Clean.reset_index(inplace=True)
  YR_Clean.rename(columns={"index":"일시"}, inplace=True)
  YM_Clean.reset_index(inplace=True)
  YM_Clean.rename(columns={"index":"일시"}, inplace=True)

  return YR_Clean, YM_Clean

In [ ]:
# YM_Ulsan.to_csv(f"{DATA_PATH}/서울_관광지점입장객_1719_결측치무.csv", index=False)

* 기상 데이터(지상 종관 ASOS)

단순히 365일을 기준으로 9년을 곱했을 때, 3285이란 결과가 나옴.

현재 기상데이터는 2957에 대한 정보만 존재하므로, 결측일(혹은 결측월)에 대한 정보를 알고 있어야 해석의 용의성 및 모델의 정확도가 올라감

윤년이란 상황을 가정하고, 매월 달라지는 2월의 일자까지 확인하기 위해서 우선 datetime 모듈을 활용해서 일 계산 및 결측치 확인에 사용

In [ ]:
def Date_Duration():
  print(f"{'='*10}{'<'*5}\tInitializing\t{'>'*5}{'='*300}")
  sY, sM, sD  = map(int, input("시작일 : ").split(" "))
  startDate = datetime(sY, sM, sD)

  eY, eM, eD  = map(int, input("종료일 : ").split(" "))
  endDate = datetime(eY, eM, eD)

  duration = (endDate-startDate).days
  print(f"조사 기간의 기상 데이터의 일 수는 총 {duration}일이어야 합니다.\n")
  #결측일이 없으려면, duration 값과 기상 데이터의 rows가 동일해야 함

  return startDate, endDate, duration


def Missing_Date_Check(dt, datecol, duration, startDate=None, check_type="%Y%m%d"):
  print(f"{'='*10}{'<'*5}\tmissing dates\t{'>'*5}{'='*300}")
  missing_days = []
  missing_day = 0

  for day in range(duration):
    check_date = startDate+timedelta(days=day)
    if dt[datecol][day-missing_day].strftime(check_type)==check_date.strftime(check_type):
      continue
    elif dt[datecol][day-missing_day].strftime(check_type)!=check_date.strftime(check_type):
      missing_day+=1
      missing_days.append(check_date) # 활용을 쉽게 활용할 수 있도록 datetime으로 추가

  if len(missing_days)!=0:
    print(f"*경고*\n결측일이 발견되었습니다.")
    print(f"{[mdate.strftime(check_type) for mdate in missing_days]}의 결측일 여부를 확인하세요.\n")

  return missing_days


def Re_val_MDate(dt, datecol, missing_days, check_type="%Y%m%d"):
  print(f"{'='*10}{'<'*5}\tre-validation\t{'>'*5}{'='*300}")
  cnt = 0
  re_val_date = []

  for idx, mdate in enumerate(missing_days):
    if len(dt[dt[datecol]==mdate.strftime(check_type)].index)!=0:
      re_val_date.append(idx)
    elif len(dt[dt[datecol]==mdate.strftime(check_type)].index)==0:
      cnt += 1

  if cnt==len(missing_days):
    print("재검증 결과 : 상동")
    print(f"해당 기상 데이터에 존재하는 결측일은 총 {cnt}일입니다.\n")
  elif cnt!=len(missing_days):
    for pop_idx in re_val_date:
      missing_days.pop(pop_idx)
    print("재검증 결과 : 상이")
    print(f"해당 기상 데이터에 존재하는 결측일은 총 {len(missing_days)}일입니다.\n")

  return missing_days


def Cnts_MDays_in_YearMonth(missing_days, check_ym_type="%Y%m", return_ym_type="%Y년%m월"):
  print(f"{'='*10}{'<'*5}\tCounts of Missing days by Months\t{'>'*5}{'='*300}")

  if check_ym_type!=return_ym_type:
    missing_days_by_ym = [mdates.strftime(return_ym_type) for mdates in missing_days]
    missing_ym = sorted(list(set(missing_days_by_ym)))
    for mYM in missing_ym:
      globals()[f"missing_{mYM}"] = missing_days_by_ym.count(mYM)
      print(f'{mYM}의 결측일 수 : {globals()[f"missing_{mYM}"]}\n')

  else :
    missing_days_by_ym = [mdates.strftime(check_ym_type) for mdates in missing_days]
    missing_ym = sorted(list(set(missing_days_by_ym)))
    for mYM in missing_ym:
      globals()[f"missing_{mYM}"] = missing_days_by_ym.count(mYM)
      print(f'{mYM}의 결측일 수 : {globals()[f"missing_{mYM}"]}\n')

  return missing_ym

## 서울 관광지 입장객

In [ ]:
# path = f"{DATA_PATH}/서울 주요관광지점 입장객 2011 2019.xls"
# name = "Seoul"

# STour_df, STour_local = data_load_sep_local(path, name)

# # 서울 내국인만 확인
# STour = STour_local.T
# STour.head(20)

# STour_info = STour.iloc[:5,:]
# # index[:5]까지는 "시도", "군구", "관광지", "내/외국인", "총계(2011.01~2019.12)"를 담은 데이터임
# # index[:3]을 제외하고 필요한지가 의문이지만, 우선 계속 확인해 볼 필요가 있음

# STour_all = STour.iloc[5:,:]
# # 목적1 : 2019년 기준 3개년의 데이터 유무를 바로 확인하기 위함
# #   先 : 연별 인원수 3개년 존재 확인
# #   後 : 연월별 인원수 36개월 존재 확인(기준 : 2017.01~2019.12)
# # 목적2 : 데이터가 더럽게 들어와서 어차피 분류해야 함

# # print(STour_all.shape)  # (117, 23)
# # print(13*9) #117

# YEAR = []
# YM = []
# for idx, cont in zip(STour_all.index, range(STour_all.shape[0])):
#   if ("년" in idx) and ("월" in idx):
#     YM.append(cont)
#   else :
#     YEAR.append(cont)
# STour_YEAR = STour_all.iloc[YEAR, :]
# STour_YM = STour_all.iloc[YM, :]

# #관광지명으로 칼럼명 만들기
# ncol = {}
# for tst in STour_info:
#   # print(tst)
#   ncol[tst] = str(STour_info.iloc[0, tst])[:2]+"_"+str(STour_info.iloc[1, tst])+"_"+str(STour_info.iloc[2, tst])

# STour_YEAR.rename(columns=ncol, inplace=True)
# STour_YM.rename(columns=ncol, inplace=True)

# print(dp(STour_YEAR))
# print(dp(STour_YM))
# # Adjust the output height to 500px.
# display.Javascript("google.colab.output.setIframeHeight('500px');")

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      서울_종로구_경복궁 서울_종로구_경희궁  ... 서울_송파구_서울스카이 서울_송파구_아쿠아리움
2011년    3799804     101836  ...          NaN          NaN
2012년    3098348     114946  ...          NaN          NaN
2013년    2953338        NaN  ...          NaN          NaN
2014년    3657756        NaN  ...          NaN          NaN
2015년    3347046        NaN  ...          NaN          NaN
2016년    3122183        NaN  ...          NaN          NaN
2017년    3336671        NaN  ...          NaN          NaN
2018년    3425247        NaN  ...      1482455      1290266
2019년    3874837        NaN  ...      1369800      1268073

[9 rows x 23 columns]

None

          서울_종로구_경복궁 서울_종로구_경희궁  ... 서울_송파구_서울스카이 서울_송파구_아쿠아리움
2011년 01월     141183       4386  ...          NaN          NaN
2011년 02월     230814       4943  ...          NaN          NaN
2011년 03월     228276       6747  ...          NaN          NaN
2011년 04월     349368       9883  ...          NaN          NaN
2011년 05월     438567      11304  ...          NaN          NaN
...              ...        ...  ...          ...          ...
2019년 08월     260658        NaN  ...       162727       151226
2019년 09월     494024        NaN  ...       100336        82402
2019년 10월     464290        NaN  ...       124684        82513
2019년 11월     327614        NaN  ...        98659        79118
2019년 12월     239734        NaN  ...       116617       106666

[108 rows x 23 columns]

None

In [ ]:
# STour_3Y, STour_3YM = Y_YM_Visitor(STour_YEAR, STour_YM, 3)
# STour_6Y, STour_6YM = Y_YM_Visitor(STour_YEAR, STour_YM, 6)
# STour_9Y, STour_9YM = Y_YM_Visitor(STour_YEAR, STour_YM, 9)

# period = [3,6,9]

# for yrs in period:
#   print(f"{yrs}년 간 입장객 결측치 없는 서울 관광지")
#   print(dp(locals()[f'STour_{yrs}Y'].head(2)))
#   print(dp(locals()[f'STour_{yrs}YM'].head(2)))

3개년 중 결측년 존재하는 관광지 수 : 9
36개월 중 결측월 존재하는 관광지 수 : 10
3개년 중 활용 가능한 관광지 수 : 14
36개월 중 활용 가능한 관광지 수 : 13
6개년 중 결측년 존재하는 관광지 수 : 9
72개월 중 결측월 존재하는 관광지 수 : 10
6개년 중 활용 가능한 관광지 수 : 14
72개월 중 활용 가능한 관광지 수 : 13
9개년 중 결측년 존재하는 관광지 수 : 9
108개월 중 결측월 존재하는 관광지 수 : 12
9개년 중 활용 가능한 관광지 수 : 14
108개월 중 활용 가능한 관광지 수 : 11
3년 간 입장객 결측치 없는 서울 관광지

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      일시 서울_종로구_경복궁 서울_종로구_종묘  ... 서울_마포구_트릭아이미술관 서울_서초구_헌릉ㆍ인릉 서울_강남구_선릉·정릉
0  2017년    3336671    356612  ...          68784        39088       356857
1  2018년    3425247    410935  ...          61486        35223       310359

[2 rows x 15 columns]

None

          일시 서울_종로구_경복궁 서울_종로구_종묘  ... 서울_마포구_트릭아이미술관 서울_서초구_헌릉ㆍ인릉 서울_강남구_선릉·정릉
0  2017년 01월     165237     12773  ...           6671         1227        13241
1  2017년 02월     155014      9809  ...           6561         1272        14417

[2 rows x 14 columns]

None
6년 간 입장객 결측치 없는 서울 관광지

      일시 서울_종로구_경복궁 서울_종로구_종묘  ... 서울_마포구_트릭아이미술관 서울_서초구_헌릉ㆍ인릉 서울_강남구_선릉·정릉
0  2014년    3657756    235852  ...         155750        43080       328573
1  2015년    3347046    222228  ...          94792        42486       333463

[2 rows x 15 columns]

None

          일시 서울_종로구_경복궁 서울_종로구_종묘  ... 서울_마포구_트릭아이미술관 서울_서초구_헌릉ㆍ인릉 서울_강남구_선릉·정릉
0  2014년 01월     169707     14419  ...          15714         1401        13176
1  2014년 02월     154435     12307  ...          16869         1460        13361

[2 rows x 14 columns]

None
9년 간 입장객 결측치 없는 서울 관광지

      일시 서울_종로구_경복궁 서울_종로구_종묘  ... 서울_마포구_트릭아이미술관 서울_서초구_헌릉ㆍ인릉 서울_강남구_선릉·정릉
0  2011년    3799804    367439  ...         152117        46113       372016
1  2012년    3098348    187554  ...         116706        42041       243777

[2 rows x 15 columns]

None

          일시 서울_종로구_경복궁  ... 서울_서대문구_서대문형무소역사관 서울_서초구_헌릉ㆍ인릉
0  2011년 01월     141183  ...             18407          736
1  2011년 02월     230814  ...             14387         1730

[2 rows x 12 columns]

None

## 서울 기상청

In [ ]:
YRS = ["1112", "1314", "1516", "1718", "1920"]
name = "수도권기상청"

df_수도권 = pd.DataFrame()

for yrs in YRS:
  locals()[f'df{yrs}_{name[:3]}'] = pd.read_csv(f'{CW_SV}/{yrs}/{name}.csv')
  df_수도권 = pd.concat([df_수도권, locals()[f'df{yrs}_{name[:3]}']])

df_수도권.shape

(29224, 62)

In [ ]:
df_수도권.columns

Index(['지점 번호', '지점명', '일시', '평균 기온(°C)', '최저 기온(°C)', '최저 기온 시각(hhmi)',
       '최고 기온(°C)', '최고 기온 시각(hhmi)', '강수 계속시간(hr)', '10분 최다강수량(mm)',
       '10분 최다강수량 시각(hhmi)', '1시간 최다강수량(mm)', '1시간 최다강수량 시각(hhmi)', '일강수량(mm)',
       '최대 순간풍속(m/s)', '최대 순간풍속 풍향(16방위)', '최대 순간풍속 시각(hhmi)', '최대 풍속(m/s)',
       '최대 풍속 풍향(16방위)', '최대 풍속 시각(hhmi)', '평균 풍속(m/s)', '풍정합(100m)',
       '최다 풍향(16방위)', '평균 이슬점온도(°C)', '최소 상대습도(%)', '평균 상대습도 시각(hhmi)',
       '평균 상대습도(%)', '평균 중기압(hPa)', '평균 현지기압(hPa)', '최고 해면 기압(hPa)',
       '최고 해면기압 시각(hhmi)', '최저 해면기압(hPa)', '최저 해면기압 시각(hhmi)', '평균 해면기압(hPa)',
       '가조시간(hr)', '합계 일조 시간(hr)', '1시간 최다 일사 시각(hhmi)', '1시간 최다 일사량(MJ/m2)',
       '합계 일사량(MJ/m2)', '일 최심신적설(cm)', '일 최심신적설 시각(hhmi)', '일 최심적설(cm)',
       '일 최심적설 시각(hhmi)', '합계 3시간 신적설(cm)', '평균 전운량(10분위)', '평균 중하층운량(10분위)',
       '평균 지면온도(°C)', '최저 초상온도(°C)', '평균 5cm 지중온도(°C)', '평균 10cm 지중온도(°C)',
       '평균 20cm 지중온도(°C)', '평균 30cm 지중온도(°C)', '0.5m 지중온도(°C)',
       '1.0cm 지중온도(°C)', '1.5cm 지중온도(°C)', '3.0cm 지중온도(°C)', '5.0cm 지중온도(°C)',
       '합계 대형증발량(mm)', '합계 소형증발량(mm)', '9-9강수(mm)', '일기현상', '안개 계속 시간(hr)'],
      dtype='object')

In [ ]:
df_수도권['지점명'].unique()

array(['동두천', '파주', '백령도', '서울', '인천', '수원', '양평', '이천'], dtype=object)

In [ ]:
SWeather = df_수도권[df_수도권.iloc[:, 1]=="서울"]
print(SWeather.shape)
SWeather.reset_index(drop=True, inplace=True)

SWeather["일시"] = SWeather["일시"].values.astype("datetime64")

print(dp(SWeather.head(2)))

(3653, 62)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   지점 번호 지점명  ...                                               일기현상  안개 계속 시간(hr)
0    108  서울  ...  {햇무리}1540-1620. {연무}2025-{연무}{강도0}2100-{연무}{강도...           NaN
1    108  서울  ...  -{연무}-{연무}{강도0}0300-{연무}{강도0}0600-0610. {박무}06...           NaN

[2 rows x 62 columns]

None

우선 20년도는 분석 기간에 들어가지 않기 때문에, 11~19년과 20년도 데이터로 구분

* 구분
  * 방법 1 : 2020년의 일수를 구한 뒤, iloc[:-일수, :]와 iloc[-일수:, :]로 분류 <small></br>    (예상되는 문제 : 2020년의 모든 요일에 대한 기상 정보가 없을 수 있음)</small>
  * 방법 2 : 2020년 1월 1일 미만의 정보를 쌓은 뒤, 20년은 20년 이전 데이터 shape으로 확인 후 iloc[20년 이전 데이터.shape[0]:, :]으로 생성 <small></br>    (예상되는 문제 : 11년부터 확인 및 쌓는다면, 시간이 오래 걸림;;;)</small>
  * 방법 3 : 2020년 1월 1일 이후의 데이터를 역으로 쌓은 뒤, 20년 데이터 shape으로 확인 뒤 iloc[:20년 이후 데이터.shape[0], :]으로 생성 <small></br>    (현재로는 이 방법이 제일 빠른 것으로 사료됨)</small>

In [ ]:
cnt = 0
for idx in SWeather[::-1].index:
  if SWeather["일시"][idx].strftime("%Y%m%d")>="20200101":
      cnt+=1
  elif SWeather["일시"][idx].strftime("%Y%m%d")<"20200101":
    break

print(f"20년도의 정보가 들어가 있는 {cnt}일 동안의 데이터는 따로 분류하겠습니다.")

Seoul_WT = SWeather.iloc[:len(SWeather)-cnt, :]
Seoul_WT20 = SWeather.iloc[len(SWeather)-cnt:, :]
print(f"\nshape of 20년도 데이터(Seoul_WT20) : {Seoul_WT20.shape}") #2020년은 366일이니까 이상치 아님
print(dp(Seoul_WT.tail(2)))

Seoul_WT20.reset_index(drop=True, inplace=True)

20년도의 정보가 들어가 있는 366일 동안의 데이터는 따로 분류하겠습니다.

shape of 20년도 데이터(Seoul_WT20) : (366, 62)

      지점 번호  ... 안개 계속 시간(hr)
3285    108  ...          NaN
3286    108  ...          NaN

[2 rows x 62 columns]

None

In [ ]:
# 관측기간 시작일 및 종료일 입력 후 rows 맞는지 확인
stD, edD, during = Date_Duration()
# 기상 데이터 칼럼명으로 접근해서 결측일 조회 및 검증
odd_days = Missing_Date_Check(Seoul_WT, "일시", during, stD)
odd_days = Re_val_MDate(Seoul_WT, "일시", odd_days, "%Y-%m-%d")
# 주요관광지점 입장객 수 데이터의 "%Y년%m월"과 동일한 형태
  # 기상데이터 월별 index 혹은 columns으로 활용
odd_ym = Cnts_MDays_in_YearMonth(odd_days)

==========<<<<<	Initializing	>>>>>============================================================================================================================================================================================================================================================================================================
시작일 : 2011 1 1
종료일 : 2019 12 31
조사 기간의 기상 데이터의 일 수는 총 3286일이어야 합니다.

==========<<<<<	missing dates	>>>>>============================================================================================================================================================================================================================================================================================================
==========<<<<<	re-validation	>>>>>============================================================================================================================================================================================================================================================================================================
재검증 결과 : 상동
해당 기상 데이터에 존재하는 결측일은 총 0일입니다.

==========<<<<<	Counts of Missing days by Months	>>>>>============================================================================================================================================================================================================================================================================================================

In [ ]:
Seoul_WT.head(2)

   지점 번호 지점명  ...                                               일기현상  안개 계속 시간(hr)
0    108  서울  ...  {햇무리}1540-1620. {연무}2025-{연무}{강도0}2100-{연무}{강도...           NaN
1    108  서울  ...  -{연무}-{연무}{강도0}0300-{연무}{강도0}0600-0610. {박무}06...           NaN

[2 rows x 62 columns]

In [ ]:
# 선홍님께서 공유한 함수
def weather_go(df, date_col) :
  data['일시'] = data['일시'].values.astype('str')
  data['일시'] = data['일시'].apply(lambda x : x[:7].replace('-',''))

  df = df.groupby('일시')['평균 기온(°C)', '최저 기온(°C)', '최저 기온 시각(hhmi)', '최고 기온(°C)',
       '최고 기온 시각(hhmi)', '강수 계속시간(hr)', '10분 최다강수량(mm)', '10분 최다강수량 시각(hhmi)',
       '1시간 최다강수량(mm)', '1시간 최다강수량 시각(hhmi)', '일강수량(mm)', '최대 순간풍속(m/s)',
       '최대 순간풍속 풍향(16방위)', '최대 순간풍속 시각(hhmi)', '최대 풍속(m/s)', '최대 풍속 풍향(16방위)',
       '최대 풍속 시각(hhmi)', '평균 풍속(m/s)', '풍정합(100m)', '최다 풍향(16방위)',
       '평균 이슬점온도(°C)', '최소 상대습도(%)', '평균 상대습도 시각(hhmi)', '평균 상대습도(%)',
       '평균 중기압(hPa)', '평균 현지기압(hPa)', '최고 해면 기압(hPa)', '최고 해면기압 시각(hhmi)',
       '최저 해면기압(hPa)', '최저 해면기압 시각(hhmi)', '평균 해면기압(hPa)', '가조시간(hr)',
       '합계 일조 시간(hr)', '1시간 최다 일사 시각(hhmi)', '1시간 최다 일사량(MJ/m2)',
       '합계 일사량(MJ/m2)', '일 최심신적설(cm)', '일 최심신적설 시각(hhmi)', '일 최심적설(cm)',
       '일 최심적설 시각(hhmi)', '합계 3시간 신적설(cm)', '평균 전운량(10분위)', '평균 중하층운량(10분위)',
       '평균 지면온도(°C)', '최저 초상온도(°C)', '평균 5cm 지중온도(°C)', '평균 10cm 지중온도(°C)',
       '평균 20cm 지중온도(°C)', '평균 30cm 지중온도(°C)', '0.5m 지중온도(°C)',
       '1.0cm 지중온도(°C)', '1.5cm 지중온도(°C)', '3.0cm 지중온도(°C)', '5.0cm 지중온도(°C)',
       '합계 대형증발량(mm)', '합계 소형증발량(mm)', '9-9강수(mm)', '안개 계속 시간(hr)'].mean()
  return df

In [ ]:
SWT_YM = weather_go(Seoul_WT)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:
SWT_YM

        평균 기온(°C)  최저 기온(°C)  ...  9-9강수(mm)  안개 계속 시간(hr)
일시                            ...
201101  -7.183871 -10.522581  ...   0.741667           NaN
201102   1.221429  -2.460714  ...   7.850000           NaN
201103   3.616129  -0.119355  ...   1.537500           NaN
201104  10.720000   6.773333  ...   7.346667           NaN
201105  17.925806  13.570968  ...   5.278571           NaN
...           ...        ...  ...        ...           ...
201908  27.190323  23.590323  ...   9.664706           NaN
201909  22.643333  18.963333  ...  10.753846           NaN
201910  16.370968  11.800000  ...   6.937500           NaN
201911   7.580000   3.100000  ...   9.862500          5.33
201912   1.416129  -2.603226  ...   1.250000          0.67

[108 rows x 58 columns]

* 해당 월의 데이터가 전부 없다면, 해당 월은 관광지와 merge 시키기 전에 관광지 데이터에서도 월 데이터를 지우고 계산.
* 해당 월의 데이터가 소실된 양이 많다면, 정확도를 위해서는 그 데이터를 뜯어야 겠지만...우선은 mean으로 연산

서울 기상 데이터의 결측일은 없지만,, 월 기상데이터로 바꾸는 과정에서 mean()을 사용하니까 결측 데이터가 생성되어, 기상청에서 분류한 월 데이터를 사용하기로 결정

In [ ]:
area = "Seoul"
dtime_lst = ["Y", "YM", "YMD"]
SV = "ASOS"
wt = "WT"

for dt_type in dtime_lst:
  path = PV_SV+"/"+area+dt_type+SV
  locals()[f"{area}_WT_{dt_type}"] = pd.read_csv(f"{path}.csv", encoding="cp949")

In [ ]:
Seoul_WT_YMD['일시'] = Seoul_WT_YMD['일시'].values.astype("datetime64")

In [ ]:
Seoul_WT_YMD.head(2)

    지점 지점명  ...                                                 기사  안개 계속시간(hr)
0  108  서울  ...  {햇무리}1540-1620. {연무}2025-{연무}{강도0}2100-{연무}{강도...          NaN
1  108  서울  ...  -{연무}-{연무}{강도0}0300-{연무}{강도0}0600-0610. {박무}06...          NaN

[2 rows x 62 columns]

In [ ]:
#ASOS days 재검증 및 확인
asos_odd_days = Missing_Date_Check(Seoul_WT_YMD, "일시", during, stD)
asos_odd_days = Re_val_MDate(Seoul_WT_YMD, "일시", asos_odd_days, "%Y-%m-%d")
# 주요관광지점 입장객 수 데이터의 "%Y년%m월"과 동일한 형태
  # 기상데이터 월별 index 혹은 columns으로 활용
asos_odd_ym = Cnts_MDays_in_YearMonth(asos_odd_days)

==========<<<<<	missing dates	>>>>>============================================================================================================================================================================================================================================================================================================
==========<<<<<	re-validation	>>>>>============================================================================================================================================================================================================================================================================================================
재검증 결과 : 상동
해당 기상 데이터에 존재하는 결측일은 총 0일입니다.

==========<<<<<	Counts of Missing days by Months	>>>>>============================================================================================================================================================================================================================================================================================================

In [ ]:
Seoul_WT_Y.head(2)

    지점 지점명    일시  ...  최다 풍향(16방위)  합계 소형 증발량(mm)  합계 대형 증발량(mm)
0  108  서울  2011  ...          270         1123.2          577.0
1  108  서울  2012  ...          270         1378.8          655.9

[2 rows x 22 columns]

In [ ]:
Seoul_WT_YM.head(2)

    지점 지점명       일시  ...  1.5m평균지중온도(°C)  3.0m평균지중온도(°C)  5.0m평균지중온도(°C)
0  108  서울  2011-01  ...             8.3            14.6            17.2
1  108  서울  2011-02  ...             6.2            12.3            15.9

[2 rows x 69 columns]

# EDA & VSL

## Library&Def

In [ ]:
# Colab Python에서 R환경 번갈아가면서 쓸 때 사용
import rpy2
# %load_ext rpy2.ipython
# R 환경을 사용하려는 모든 셀에 아래와 같이 선언해야 함
  # (해당 셀이 선언되면 안 되기 때문에 주석처리)
# %%R
import itertools

In [ ]:
# 한글 폰트 다운로드
# !apt-get update
# !apt-get install fonts-unfonts*
# !apt-get install fonts-baekmuk
# !apt-get install fonts-nanum*
# !apt-get install fontconfig
# !fc-cache -fv
# !rm ~/.cache/matplotlib -rf

# 폰트 설치 후 런타임 재실행

# 한글 폰트 시각화 툴에 복사
# !cp /usr/share/fonts/truetype/baekmuk/* /usr/local/lib/python3.7/dist-packages/matplotlib/mpl-data/fonts/ttf/
# !cp /usr/share/fonts/truetype/nanum/Nanum* /usr/local/lib/python3.7/dist-packages/matplotlib/mpl-data/fonts/ttf/
# !cp /usr/share/fonts/truetype/unfonts-core/* /usr/local/lib/python3.7/dist-packages/matplotlib/mpl-data/fonts/ttf/
# !cp /usr/share/fonts/truetype/unfonts-extra/* /usr/local/lib/python3.7/dist-packages/matplotlib/mpl-data/fonts/ttf/
# !rm -rf /content/.cache/matplotlib/*

In [ ]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns
# 조회한 자료를 ppt파일에 참고할 자료로 구상할 경우, 
  # 빈도수 혹은 총 날씨 관련 특허 몇 건 중 몇 건,
  # 관광 관련 특허 총 몇 건 중 몇 건으로 (%)이미지 생성

# 기본 설정 읽기
print(mpl.__version__)
print(mpl.__file__)
print(mpl.get_configdir())
print(mpl.get_cachedir())

# size, family
print(f'설정 파일 위치 : \n{mpl.matplotlib_fname()}')
print(f'설정되어있는 폰트 사이즈 : {plt.rcParams["font.size"]}')
print(f'설정되어있는 폰트 글꼴 : {plt.rcParams["font.family"]}')

# serif, sans-serif, monospace
print(f'serif 세리프가 있는 폰트\n{plt.rcParams["font.serif"]}')
print(f'sans-serif 세리프가 없는 폰트\n{plt.rcParams["font.sans-serif"]}')
print(f'monospace 고정폭 글꼴\n{plt.rcParams["font.monospace"]}')

# 그래프에서 마이너스 폰트 깨질 경우 대비
mpl.rcParams['axes.unicode_minus'] = False

# # 전체 폰트
# font_list = [f.name for f in fm.fontManager.ttflist if '' in f.name]
# print(len(font_list))
# # 은폰트
# font_un = [(f.name, f.fname) for f in fm.fontManager.ttflist if 'Un' in f.name]
# # 백묵 폰트
# font_baekmuk = [(f.name, f.fname) for f in fm.fontManager.ttflist if 'Baekmuk' in f.name]
# # 나눔 폰트
# font_nanum = {f.name:f.fname for f in fm.fontManager.ttflist if 'Nanum' in f.name}
# font_baekmuk['']

# fm._rebuild() # 이걸 해줘야 plt.rc가 작동

# # rc 사용하는 방법1
# plt.rc('font', family=font_nanum['NanumMyeongjo'])
# # rc 사용하는 방법2
# font_style = {'family' : font_list['DejaVu Sans Mono'],
#               'weight' : 'bold',
#               'size'   : 'larger'}
# plt.rc('font', **font_style)
# # rc 사용하는 방법3
# font_name = fm.FontProperties(fname=font_baekmuk['Baekmuk Gulim'], size=25).get_name()
# plt.rc('font', family=font_name)

# #rcParams 사용하는 방법
# plt.rcParams["font.family"] = 'NanumGothic'
# plt.rcParams["font.size"] = 20
# plt.rcParams["figure.figsize"] = (14,4)

In [ ]:
#when dtype is int or float
def zero_Check(dt, col):
  zrcnt = dt[col][df[col]==0].count()
  zridx = dt[df[col]==0].index
  print(f'zero counts of {col} : {zrcnt}\n')
  print(f'\t{zridx}')
  return zrcnt, zridx

#when dtype is object
def null_Check(dt, col):
  zrcnt = 0
  zridx = []
  for idx, cont in enumerate(dt[col]):
    if type(cont)==float:
      zrcnt += 1
      zridx.append(idx)
  print(f'null values in {col} : {zrcnt}\n')
  print(f'\t{zridx}')
  return zrcnt, zridx

#no matter dtype numeric nor category, check value is string typed "N/A"
def NONE_Check(dt, col):
  nacnt = dt[col][df[col]==("None" or "N" or "NONE" or "N/A")].count()
  naidx = dt[df[col]==("None" or "N" or "NONE" or "N/A")].index
  print(f'"N/A" counts of {col} : {nacnt}\n')
  print(f'\t{naidx}')
  return nacnt, naidx

In [ ]:
#정열님 sns 함수
def graph(data = None, x = None, y = None, hue = None, option = None):
  data = data[data[y] != np.nan]
  data[y] = data[y].astype('float64')
  if option == 'line':
    plt.figure(figsize = (16,8))
    sns.lineplot(data = data, x = x, y = y, hue = hue)
  elif option == 'bar':
    plt.figure(figsize = (16,8))
    sns.barplot(data = data, x = x, y = y, hue = hue)
  elif option == 'box':
    plt.figure(figsize = (16,8))
    sns.boxenplot(data = data, x = x, y = y, hue = hue)
  elif option == 'dist':
    plt.figure(figsize = (16,8))
    sns.distplot(data = data, x = x, y = y, hue = hue)
  elif option == 'count':
    plt.figure(figsize = (16,8))
    sns.countplot(data = data, x = x, y= y, hue = hue)
  else:
    pass
  plt.title(f'{y}')
  plt.show()

## Match and Merge

In [ ]:
Seoul_WT_Y = Seoul_WT_Y.copy().iloc[:,2:]
Seoul_WT_YM = Seoul_WT_YM.copy().iloc[:,2:]

In [ ]:
Seoul_WT_Y.iloc[:,0] = STour_9Y.iloc[:,0]
Seoul_WT_YM['일시'] = Seoul_WT_YM['일시'].apply(lambda x : x.replace('-', ''))

In [ ]:
Seoul_WT_6YM = Seoul_WT_YM[Seoul_WT_YM['일시'] >= "201401"]
Seoul_WT_3YM = Seoul_WT_YM[Seoul_WT_YM['일시'] >= "201701"]
Seoul_WT_6Y = Seoul_WT_Y[Seoul_WT_Y['일시'] >= "2014"]
Seoul_WT_3Y = Seoul_WT_Y[Seoul_WT_Y['일시'] >= "2017"]

In [ ]:
STour_3Y.iloc[:,1:] = STour_3Y.iloc[:,1:].astype('int64')
STour_6Y.iloc[:,1:] = STour_6Y.iloc[:,1:].astype('int64')
STour_9Y.iloc[:,1:] = STour_9Y.iloc[:,1:].astype('int64')

STour_3YM.iloc[:,1:] = STour_3YM.iloc[:,1:].astype('int64')
STour_6YM.iloc[:,1:] = STour_6YM.iloc[:,1:].astype('int64')
STour_9YM.iloc[:,1:] = STour_9YM.iloc[:,1:].astype('int64')

# result = re.sub('[^0-9a-zA-Zㄱ-힗]', '', myStr)
STour_3Y['일시'] = STour_3Y['일시'].apply(lambda x : re.sub('[^0-9]','',x))
STour_6Y['일시'] = STour_6Y['일시'].apply(lambda x : re.sub('[^0-9]','',x))
STour_9Y['일시'] = STour_9Y['일시'].apply(lambda x : re.sub('[^0-9]','',x))

STour_3YM['일시'] = STour_3YM['일시'].apply(lambda x : re.sub('[^0-9]','',x))
STour_6YM['일시'] = STour_6YM['일시'].apply(lambda x : re.sub('[^0-9]','',x))
STour_9YM['일시'] = STour_9YM['일시'].apply(lambda x : re.sub('[^0-9]','',x))

In [ ]:
Seoul = Seoul_WT_3YM.merge(STour_3YM, how='left')
Seoul = Seoul_WT_6YM.merge(STour_6YM, how='left')
Seoul = Seoul_WT_YM.merge(STour_9YM, how='left')

Seoul = Seoul_WT_3Y.merge(STour_3Y, how='left')
Seoul = Seoul_WT_6Y.merge(STour_6Y, how='left')
Seoul = Seoul_WT_Y.merge(STour_9Y, how='left')

In [ ]:
# Seoul.to_csv(f"{PROJ_PATH}/Seoul/SWeatherTour9Y.csv", index=False)

## EDA(Tourism Climate)

In [ ]:
YRS = [3,6,9]

for yrs in YRS:
  locals()[f'Seoul{yrs}YM'] = pd.read_csv(f'{PROJ_PATH}/Seoul/SWeatherTour{yrs}yrs.csv')
  locals()[f'Seoul{yrs}Y'] = pd.read_csv(f'{PROJ_PATH}/Seoul/SWeatherTour{yrs}Y.csv')

In [ ]:
Seoul9YM.columns

Index(['일시', '평균기온(°C)', '평균최고기온(°C)', '평균최저기온(°C)', '최고기온(°C)', '최저기온(°C)',
       '최고기온 나타난날(yyyymmdd)', '최저기온 나타난날(yyyymmdd)', '평균현지기압(hPa)',
       '평균해면기압(hPa)', '최고해면기압(hPa)', '최저해면기압(hPa)', '최고해면기압 나타난날(yyyymmdd)',
       '최저해면기압 나타난날(yyyymmdd)', '평균수증기압(hPa)', '최고수증기압(hPa)', '최저수증기압(hPa)',
       '최고수증기압 나타난날(yyyymmdd)', '최저수증기압 나타난날(yyyymmdd)', '평균이슬점온도(°C)',
       '평균상대습도(%)', '최소상대습도(%)', '최소상대습도 나타난날(yyyymmdd)', '월합강수량(00~24h만)(mm)',
       '일최다강수량(mm)', '1시간최다강수량(mm)', '10분최다강수량(mm)', '일최다강수량 나타난날(yyyymmdd)',
       '1시간최다강수량 나타난날(yyyymmdd)', '10분최다강수량 나타난날(yyyymmdd)', '소형총증발량(mm)',
       '소형일최대증발량(mm)', '대형총증발량(mm)', '대형일최대증발량(mm)', '소형일최대증발량 나타난날(yyyymmdd)',
       '대형일최대증발량 나타난날(yyyymmdd)', '평균풍속(m/s)', '최대풍속(m/s)', '최대순간풍속(m/s)',
       '최대풍속 풍향(16방위)', '최대순간풍속 풍향(16방위)', '최대풍속 나타난날(yyyymmdd)',
       '최대순간풍속 나타난날(yyyymmdd)', '최다풍향(16방위)', '평균운량(1/10)', '평균중하층운량(1/10)',
       '합계 일조시간(hr)', '일조율(%)', '합계 일사량(MJ/m2)', '최심적설(cm)', '최심신적설(cm)',
       '3시간신적설합(cm)', '최심적설 나타난날(yyyymmdd)', '최심신적설 나타난날(yyyymmdd)',
       '평균 최저초상온도(°C)', '최저초상온도(°C)', '최저초상온도 나타난날(yyyymmdd)', '평균지면온도(°C)',
       '0.05m평균지중온도(°C)', '0.1m평균지중온도(°C)', '0.2m평균지중온도(°C)', '0.3m평균지중온도(°C)',
       '0.5m평균지중온도(°C)', '1.0m평균지중온도(°C)', '1.5m평균지중온도(°C)', '3.0m평균지중온도(°C)',
       '5.0m평균지중온도(°C)', '서울_종로구_경복궁', '서울_종로구_종묘', '서울_종로구_창경궁', '서울_종로구_창덕궁',
       '서울_중구_남산골한옥마을', '서울_중구_덕수궁', '서울_중구_서울시립미술관 본관', '서울_용산구_국립중앙박물관',
       '서울_노원구_태릉 ·  강릉 · 조선왕릉전시관', '서울_서대문구_서대문형무소역사관', '서울_서초구_헌릉ㆍ인릉'],
      dtype='object')

In [ ]:
Special = Seoul9Y.loc[:,[col for col in Seoul9Y.columns if "날" in col]]
Special

   최저기온 나타난날(yyyymmdd)  최고기온 나타난날(yyyymmdd)  일 최다 강수량 나타난날(yyyymmdd)
0             20110116             20110805                 20110727
1             20120202             20120805                 20120821
2             20130103             20130821                 20130713
3             20141218             20140802                 20140725
4             20150209             20150711                 20150725
5             20160124             20160821                 20160701
6             20170123             20170725                 20170710
7             20180126             20180801                 20180828
8             20191231             20190806                 20190910

### TourismClimate

### Devide DataFrame

* De Freitas(2003)
관광기후학 측면에서 이론적인 개념 시도
  * 열적(Thermal)측면

    관광자의 쾌적함(편안하게 느끼는)과 기온, 바람, 습도 등이 복합적으로 결합된 것

  * 물리적(Physical)측면

    바람이나 강수처럼 관광활동에 직접적으로
  제약요인으로 작용하는 것

  * 미적(Aesthetic)측면

    관광 자의 감정이나 경험의 질에 영향을 주는 풍경과 연관된 것으로서 파란하늘, 구름 의 양, 햇빛, 시야, 일조시간 등을 의미

세 가지 요소는 동시에 작용되기 때문에 날씨, 기후의 최적조건에 관한 연구는 세 요소를 고려해야 함

In [ ]:
#열적 측면 기상 데이터
Ther = ["기온", "습도"]
WT_Ther = []

for chk, tci in itertools.product(Seoul9YM.columns, Ther):
  if tci in chk:
    WT_Ther.append(chk)
WT_Ther

['평균기온(°C)',
 '평균최고기온(°C)',
 '평균최저기온(°C)',
 '최고기온(°C)',
 '최저기온(°C)',
 '최고기온 나타난날(yyyymmdd)',
 '최저기온 나타난날(yyyymmdd)',
 '평균상대습도(%)',
 '최소상대습도(%)',
 '최소상대습도 나타난날(yyyymmdd)']

In [ ]:
#물리적 측면 기상 데이터
Phys = ["강수", "풍속"]
WT_Phys = []

for chk, tci in itertools.product(Seoul9YM.columns, Phys):
  if tci in chk:
    WT_Phys.append(chk)
WT_Phys

['월합강수량(00~24h만)(mm)',
 '일최다강수량(mm)',
 '1시간최다강수량(mm)',
 '10분최다강수량(mm)',
 '일최다강수량 나타난날(yyyymmdd)',
 '1시간최다강수량 나타난날(yyyymmdd)',
 '10분최다강수량 나타난날(yyyymmdd)',
 '평균풍속(m/s)',
 '최대풍속(m/s)',
 '최대순간풍속(m/s)',
 '최대풍속 풍향(16방위)',
 '최대순간풍속 풍향(16방위)',
 '최대풍속 나타난날(yyyymmdd)',
 '최대순간풍속 나타난날(yyyymmdd)']

In [ ]:
#미적 측면 기상 데이터
Aest = ["운량", "일조", "일사", "적설"]
WT_Aest = []

for chk, tci in itertools.product(Seoul9YM.columns, Aest):
  if tci in chk:
    WT_Aest.append(chk)
WT_Aest

['평균운량(1/10)',
 '평균중하층운량(1/10)',
 '합계 일조시간(hr)',
 '일조율(%)',
 '합계 일사량(MJ/m2)',
 '최심적설(cm)',
 '최심신적설(cm)',
 '3시간신적설합(cm)',
 '최심적설 나타난날(yyyymmdd)',
 '최심신적설 나타난날(yyyymmdd)']

* Gomez-martin(2005)

  상기의 요소(물리적(비, 바람 등), 생리적(기온, 습도 등), 심리적(구름의 양, 일조 시간 등)) + 지리학적 관점

  관광활동 참가자 및 관광지 방문객의
  불만족을 줄이기 위해 수요자 중심의 다양한 날씨, 기후 정보를 신속하게
  제공해야 함을 지적

In [ ]:
#지리학적 측면 기상 데이터
Geog = ["풍향", "서울"]
WT_Geog = []

for chk, tci in itertools.product(Seoul9YM.columns, Geog):
  if tci in chk:
    WT_Geog.append(chk)
WT_Geog

['최대풍속 풍향(16방위)',
 '최대순간풍속 풍향(16방위)',
 '최다풍향(16방위)',
 '서울_종로구_경복궁',
 '서울_종로구_종묘',
 '서울_종로구_창경궁',
 '서울_종로구_창덕궁',
 '서울_중구_남산골한옥마을',
 '서울_중구_덕수궁',
 '서울_중구_서울시립미술관 본관',
 '서울_용산구_국립중앙박물관',
 '서울_노원구_태릉 ·  강릉 · 조선왕릉전시관',
 '서울_서대문구_서대문형무소역사관',
 '서울_서초구_헌릉ㆍ인릉']

이들의 논의는 앞선 두 연구자들의 견해,즉 날씨, 기후는 관 광자의 활동에 영향을 미치고 만족도를 높이기 위해서 이를 관리할
필요가 있다는 견해를 확장한 것으로 볼 수 있다. 따라서 관광활동 및 관광지 특성에 적합한 날씨, 기후 정보가 만들어지고 관광자에게 제공될 필요가 있다.

**TCI(Mieczkowski_1985년)**

  도시, 야외에서 걷기, 관람, 쇼핑 등의 일반 관광과 관련된 지수

  단, 해변, 스키 등의 활동에는 적용하지 못하는 한계를 지님

  * TCI
    * 열적 쾌적성
      * Cd : 평균기온, 평균상대습도
      * Ca : 최고기온, 최저상대습도
    * 강수(P) : 총강수량(mm)
    * 풍속(W) : 평균풍속(m/s)
    * 일조시간(S) : 일조시간(hr)

  총 7개의 기후 변수로 관광에 적합한 날인지 아닌지를 파악하는 지표

---
* TCI = 2(4Cd+Ca+2P+W+2S)
---
</br>

<big>**TCI 설명력 높이기 위한 후행 연구**</br></big>
<b>
  : 1, 3) Scott & McBoyle, 2001</br>
  : 1, 3) Scott et al., 2004</br>
  : 1, 3) Amelung & Viner, 2006</br>
  : 1, 3) Amelung et al., 2007</br>
  : 3) Hein et al., 2009</br>
  : 1, 3) Moreno & Amelung, 2009</br>
  : 1, 2, 3, 5) Perch-Nielsen et al., 2010</br>
  : 3) Whittlesea & Amelung, 2010</br>
</b>
  <small>4번은 연구를 특정하지 않은 바, 전 후행 연구에서 일별 기후 데이터를 사용한 것으로 사료됨</small>

1. TCI의 열적쾌적성 현실적으로 개선</br>
  --과대 추정된 단점 극복 목적 연구 방안--</br>
  * ET(Effective Temperature) -> AT(Apparent Temperature; <small>Steadman, 1984년</small>)_EUR, HI(Heat Index)_USA
  * 평균수증기압(mean water vapour
pressure; <small>Murray, 1967년</small>) 활용 _<small>계산 : 평균이슬점기온
(mean dew temperature)</small>_
  * 한낮의 수증기압(afternoon water vapour pressure) 제외 _<small>(한낮에는 기온이 증가하면서 상대 습도가 감소하기 때문에 왜곡할 수 있음)</small>_
  * 해변관광지수(beach climate index):
    * 강수량
    * 일조시간
    * 풍속지수<small>(Mieczkowski_1985년)</small>

2. 체감기온</br>
  : 기존) wind chill index(Siple & Passel_1945년)</br>
  : 최근) wind chill equivalent temperature (Osczevski & Bluestein_2005년)</br>

3. 분석 기간</br>
  : 기존) 1951-1980년 기후 데이터 활용</br>
  : 최근) 1961-1990년 기후 데이터 활용</br>
  <small>Q) 과연 상기의 연구도 **현 기점에 맞는 최근 기후 데이터의 활용이라고 볼 수 있는가?**</small>

4. 월별 기후 데이터 -> 일별 기후 데이터

5. 기후모델 결과 한계 극복</br>
  : 기존) 단일 기후모델
  : 최근) 다섯 가지 기후모델(A2시나리오, 5가지 지역모델)

In [ ]:
# #TCI 기상 데이터
#   Cd : 평균기온, 평균상대습도
#   Ca : 최고기온, 최저상대습도
#   강수(P) : 총강수량(mm)
#   풍속(W) : 평균풍속(m/s)
#   일조시간(S) : 일조시간(hr)
TCI = ["평균기온", "평균상대습도", "최고기온", "최소상대습도", 
       "월합강수량", "평균풍속", "일조시간", "서울"]
WT_TCI = []

for chk, tci in itertools.product(Seoul9YM.columns, TCI):
  if tci in chk:
    WT_TCI.append(chk)
WT_TCI

['평균기온(°C)',
 '평균최고기온(°C)',
 '최고기온(°C)',
 '최고기온 나타난날(yyyymmdd)',
 '평균상대습도(%)',
 '최소상대습도(%)',
 '최소상대습도 나타난날(yyyymmdd)',
 '월합강수량(00~24h만)(mm)',
 '평균풍속(m/s)',
 '합계 일조시간(hr)',
 '서울_종로구_경복궁',
 '서울_종로구_종묘',
 '서울_종로구_창경궁',
 '서울_종로구_창덕궁',
 '서울_중구_남산골한옥마을',
 '서울_중구_덕수궁',
 '서울_중구_서울시립미술관 본관',
 '서울_용산구_국립중앙박물관',
 '서울_노원구_태릉 ·  강릉 · 조선왕릉전시관',
 '서울_서대문구_서대문형무소역사관',
 '서울_서초구_헌릉ㆍ인릉']

* 한국형 관광기후지수(KTCI)

  4계절을 통합한 기후 가중치의 경우 최고기온은 25.9%, 평균기온은 20.9%, 강수량은 32.2%, 풍속은 11.6%, 구름의 양은 9.5%로 나타났다. 한국의 경우 강수량이 가장 높은 가중치를 가진 기후요소인 반면에 구름의 양은 가장 낮은 가중치로 나타났다. 또한 본 연구에서는 계절별로 또한 야외여가활동별로 기후요소별 가중치의 차이를 이용한 더욱 세부적인 한국형 TCI를 제안하였다. 본 연구에서 도출된 KTCI는 우리나라의 관광자과 관광사업체에게 관광 및 여가활동을 하기에 좋은(또는 나쁜) 시기와 공간적 분포를 분석하는데 기본적인 지표로 활용될 수 있다. 또한 기후예보나 기후변화 예측을 통해 관광객의 여가활동에 대한 예측과 관광공간 변화 등을 예측하는 분야에서도 사용될 수 있을 것으로 본다.


* 연중 KTCI = 2(2.59Cd + 2.09Ca + 3.33P + 1.16W + 0.95S)

* 봄철 KTCI = 2(2.58Cd + 1.93Ca + 3.04P + 1.31W + 1.14S)
* 여름철 KTCI = 2(3.07Cd + 1.90Ca + 3.27P + 0.90W + 0.86S)
* 가을철 KTCI = 2(2.37Cd + 2.18Ca + 3.43P + 1.04W + 0.98S)
* 겨울철 KTCI = 2(2.27Cd + 2.39Ca + 3.07P + 1.46W + 0.81S)


<big>한국의 계절적 특성을 반영한다는 가설은 이해가 가지만, <b>봄-가을이 유사한 가중치를 가질 것</b>이라고 생각한 내 추론과 달리, <b>겨울-봄&여름-가을이 유사한 가중치</b>를 가지고 있다. 사계절의 경계가 뚜렷해지지 않고 있다는 뜻인지 아닌지는 알 수 없지만 우리 팀도 <b>계절적 요인을 반영해서 분석</b>해 볼 필요는 있어보인다.</big>

In [ ]:
#KTCI 기상 데이터
KTCI = ["강수량", "최고기온", "평균기온", "풍속", "운량", "서울"]
### 들어갈 칼럼명 좀 수정해주실 분 구함ㅠㅠㅠ
WT_KTCI = []

for chk, tci in itertools.product(Seoul9YM.columns, KTCI):
  if tci in chk:
    WT_KTCI.append(chk)
WT_KTCI

['평균기온(°C)',
 '평균최고기온(°C)',
 '최고기온(°C)',
 '최고기온 나타난날(yyyymmdd)',
 '월합강수량(00~24h만)(mm)',
 '일최다강수량(mm)',
 '1시간최다강수량(mm)',
 '10분최다강수량(mm)',
 '일최다강수량 나타난날(yyyymmdd)',
 '1시간최다강수량 나타난날(yyyymmdd)',
 '10분최다강수량 나타난날(yyyymmdd)',
 '평균풍속(m/s)',
 '최대풍속(m/s)',
 '최대순간풍속(m/s)',
 '최대풍속 풍향(16방위)',
 '최대순간풍속 풍향(16방위)',
 '최대풍속 나타난날(yyyymmdd)',
 '최대순간풍속 나타난날(yyyymmdd)',
 '평균운량(1/10)',
 '평균중하층운량(1/10)',
 '서울_종로구_경복궁',
 '서울_종로구_종묘',
 '서울_종로구_창경궁',
 '서울_종로구_창덕궁',
 '서울_중구_남산골한옥마을',
 '서울_중구_덕수궁',
 '서울_중구_서울시립미술관 본관',
 '서울_용산구_국립중앙박물관',
 '서울_노원구_태릉 ·  강릉 · 조선왕릉전시관',
 '서울_서대문구_서대문형무소역사관',
 '서울_서초구_헌릉ㆍ인릉']

#### 요섭님께서 작성하신 함수(수정 중)

In [ ]:
class cal_TourIDX():
  def __init__(self, chk_col):
    data = self
    chk_col = dict()
    cnt = 0
  
  def check_columns(y1, y2):
    cnt += 1
    chk_col[cnt] = list(y1, y2)

  def tour_index(x1, x2, y1, y2):
    e = ((y2-y1)/(y2+y1))/((x2-x1)/(x2+x1))
    e = pd.DataFrame(e, columns=["편차"])
    return e

  def output_index(y1, y2):
    a1 = self["총 평균 평균기온(°C)"]
    a2 = self["평균기온(°C)"]
    a = Input.tour_index(a1, a2, y1, y2)

    b1 = self["총 평균 최고기온(°C)"]
    b2 = self["최고기온(°C)"]
    b = Input.tour_index(b1, b2, y1, y2)

    c1 = self["총 평균 평균상대습도(%)"]
    c2 = self["평균상대습도(%)"]
    c = Input.tour_index(c1, c2, y1, y2)

    d1 = self["총 평균 최저상대습도(%)"]
    d2 = self["최저상대습도(%)"]
    d = Input.tour_index(d1, d2, y1, y2)

    e1 = self["총 평균 일강수량(mm)"]
    e2 = self["일강수량(mm)"]
    e = Input.tour_index(e1, e2, y1, y2)

    f1 = self["총 평균 평균풍속(m/s)"]
    f2 = self["평균풍속(m/s)"]
    f = Input.tour_index(f1, f2, y1, y2)

    g1 = self["총 평균 합계 일조 시간(hr)"]
    g2 = self["합계 일조 시간(hr)"]
    g = Input.tour_index(g1, g2, y1, y2)

    TCI = (a+b+c+d+e+f+g)/7
    return TCI

#### 요섭님께서 작성하신 함수

In [ ]:
class Input(self):
  def tour_index(x1, x2, y1, y2):
    e = ((y2-y1)/(y2+y1))/((x2-x1)/(x2+x1))
    e = pd.DataFrame(e, columns=["편차"])
    return e

  def output_index(y1, y2):
    a1 = self["총 평균 평균기온(°C)"]
    a2 = self["평균기온(°C)"]
    a = Input.tour_index(a1, a2, y1, y2)

    b1 = self["총 평균 최고기온(°C)"]
    b2 = self["최고기온(°C)"]
    b = Input.tour_index(b1, b2, y1, y2)

    c1 = self["총 평균 평균상대습도(%)"]
    c2 = self["평균상대습도(%)"]
    c = Input.tour_index(c1, c2, y1, y2)

    d1 = self["총 평균 최저상대습도(%)"]
    d2 = self["최저상대습도(%)"]
    d = Input.tour_index(d1, d2, y1, y2)

    e1 = self["총 평균 일강수량(mm)"]
    e2 = self["일강수량(mm)"]
    e = Input.tour_index(e1, e2, y1, y2)

    f1 = self["총 평균 평균풍속(m/s)"]
    f2 = self["평균풍속(m/s)"]
    f = Input.tour_index(f1, f2, y1, y2)

    g1 = self["총 평균 합계 일조 시간(hr)"]
    g2 = self["합계 일조 시간(hr)"]
    g = Input.tour_index(g1, g2, y1, y2)

    TCI = (a+b+c+d+e+f+g)/7
    return TCI

## EDA(Statistics)

* heatmap
* statsmodel's ols

## VSL

### 라이브러리 및 함수 작성

# Model

## Machine Learning

### Baseline

In [ ]:
# 라이브러리 및 함수 작성

### PCA(Principal Componets Analysis)

주성분 분석으로 고차원 데이터를 저차원 데이터로 축소시키는 방법

### SVD(Singular Value Decomposition)

특이값 분해를 사용해 저차원 데이터로 축소시키는 방법(신호 처리와 통계학 등의 분야에서 자주 사용)

## Deap Learning

### Baseline

In [ ]:
# 라이브러리 및 함수 작성
import statsmodels.api as sm

### VAR(Vector Auto Regression)

예측할 변수의 과거 값 뿐만 아니라 예측할 변수의 의존성이 있는 변수들까지 고려하여 선형 함수로 나타내는 확률적 과정

In [ ]:
from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import adfuller

# copy files__다른 모델, 추가 가설 증명 시 활용

In [ ]:
Basic = PROJ_PATH
fexe = ".ipynb"
origin = "울산_날씨_관광_분석"+fexe
org = join(Basic, origin)

copy1 = "강원_날씨_관광_분석"+fexe
cps1 = join(Basic, copy1)

copy2 = "경기_날씨_관광_분석"+fexe
cps2 = join(Basic, copy2)

copy3 = "광주_날씨_관광_분석"+fexe
cps3 = join(Basic, copy3)

copy4 = "날씨_관광_분석_담당전체"+fexe
cps4 = join(Basic, copy4)
!cp "{org}" "{cps1}"
!cp "{org}" "{cps2}"
!cp "{org}" "{cps3}"
!cp "{org}" "{cps4}"
# 디렉토리에서 파일을 옮기는 경우, 디렉토리와 파일명이 같이 입력되어야 함
# 공유 폴더 내 존재하는 디렉토리 명은 상기에 다 입력했음(2021.06.25 기준)